body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #f4f4f4);
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: black;
}

form {
    margin-top: 20px;
    width: 60%; /* Adjust width of the form */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
input[type="text"],
select {
    width: 100%; /* Adjust width of the input fields */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding doesn't increase width */
}

button[type="submit"] {
    width: 100%;
    margin-top: 0px; /* Add margin to the top to create space between inputs and button */
    padding: 10px;
    border: none;
    align-items: center;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;


button[type="submit"]:hover {
    background-color: #0056b3;
}
